<footer>
  <div class="cover bg-left bg-center-l" style="background-image: url(/img/bg.png)">
    <form class="center pa3" action="https://formspree.io/feedback@serverlessconsultants.com" method="POST">
      <fieldset class="cf bn tc ma0 pa4">
        <h3 class="pa0 f3 f2-ns mb3 white tc">Want more Serverless?</h3>
        <h5 class="pa0 f4 f3-ns mb3 white tc">Subscribe to our mailing list to receive an update when new items arrive!</h5>
        <a class="f4 no-underline grow dib v-mid white ba b--white ph3 pv2 mb3" href="/contact/">Subscribe!</a>
      </fieldset>
    </form>
  </div>

  <div class="pb4 pt2 ph3 ph5-ns tc lh-copy">
    {% assign pages = site.pages | where: 'layout', 'default' %}
    {% for page in pages %}
      {% if page.title %}
      <a class="pv2 db ph3 dim" href="{{page.url}}">{{page.title}}</a>
      {% endif %}
    {% endfor %}
  </div>

</footer>
