<!-- Navigation -->
<header class="bg-white w-100 ph3 pv3 pv4-ns ph4-m ph5-l z-999 bb b--light-gray">
  <nav class="tc">
    <a class="dib no-underline v-mid tc bw1 ba b gold ph1 pv2 outline b--gold" href="/" rel="nofollow">
      <div>SRVR</div>
      <div>LSS</div>
    </a>
    <a class="link dim black b f6 f5-ns dib mr3" href="/" title="Serverless Directory">Serverless Directory</a>
    <a class="link dim gray    f6 f5-ns dib mr3" href="/plugins/">Serverless Plugins</a>
    <a class="link dim gray    f6 f5-ns dib mr3" href="/frameworks/">Serverless Frameworks</a>
    <a class="link dim gray    f6 f5-ns dib mr3" href="/contact/" title="Serverless Frameworks Directory">Contact / Feedback</a>
    <!-- <a class="link dim gray    f6 f5-ns dib mr3" href="/consultants/">Serverless Consultants</a> -->

  </nav>
</header>
