---
layout: page
---

{% assign plugins = site.pages | where: "layout", 'plugin' | sort: "stars" | reverse %}
{% assign site_topics = site.pages | where: "layout", 'topic' | sort: 'count' | reverse %}

<div class="bg-near-white">
  <h1 class="tc ma0 pt4 pb2">
    <span class="ttu">{{page.topic}}</span>
    <span class="">Serverless Plugins</span>
  </h1>
  <h4 class="tc ma0 pa0">{{page.count}} Plugins Tagged with <em>'{{page.topic}}'</em></h4>

  <div class="pa2 pa4-ns mw8 center">
    <!--TODO: TRY AND MOVE THIS BELOW THE FIRST ROW OF PLUGINS  -->
    <h2 class="tc ma0 pa0">Want more Plugins?</h2>
    <h3 class="tc ma0 pa0">
      <a class="link fw1" href="/plugins/">Browse All Plugins</a>
      <br>
      <a class="link fw1" href="/plugins/topics/">Browse All Plugin Topics</a>
    </h3>
    <div class="tc">
      {% for topic in site_topics limit: 10 %}
        {% unless topic.topic == page.topic %}
          {% capture href %}{{topic.url}}?from=topic-{{page.topic}}{% endcapture %}
          {% include topic-tag.html href=href topic=topic.topic %}
        {% endunless %}
      {% endfor %}
    </div>

    <div class="cf pa2">
      {% assign amount = 0 %}
      {% capture amount %}{{ amount | plus:1 }}{% endcapture %}
      {% if amount == 3 %}
      {% endif %}
      {% for plugin in plugins %}
        {% assign topics = plugin.topics | split: ',' %}
        {% if topics contains page.topic %}
          {% include plugin-card.html plugin=plugin %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
