---
layout: default
---

{% assign plugins = site.pages | where: "layout", 'plugin' | sort: "stars" | reverse %}
{% assign site_topics = site.pages | where: "layout", 'topic' | sort: 'count' | reverse %}

<div class="bg-near-white">
  <h1 class="tc ma0 pt4 pb2">
    <span class="ttu">{{page.topic}}</span>
    <span class="">Serverless Plugins</span>
  </h1>
  <h4 class="tc ma0 pa0">{{page.count}} Plugins Tagged with <em>'{{page.topic}}'</em></h4>


  <div class="cf pa2">
    <div class="mw8 center">
      {% for plugin in plugins %}
        {% assign topics = plugin.topics | split: ',' %}
        {% if topics contains page.topic %}
          {% include plugin-card.html plugin=plugin %}
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="pv5">
    <h2 class="tc ma0 pa0">Want more Plugins?</h2>
    <a class="db tc f4 link fw1" href="/plugins/">Browse All Plugins</a>
    <a class="db tc f4 link fw1" href="/plugins/topics/">Browse All Plugin Topics</a>
    <div class="cf tc mw6 center">
      {% for topic in site_topics limit: 10 %}
        {% unless topic.topic == page.topic %}
          {% capture href %}{{topic.url}}?from=topic-{{page.topic}}{% endcapture %}
          {% include topic-tag.html href=href topic=topic.topic %}
        {% endunless %}
      {% endfor %}
    </div>
  </div>
</div>
